@media screen and (max-width: 991px) {
    .navbar-toggler-icon {
        font-size: 10px;
        vertical-align: baseline;
    }

    .nav-link {
        font-size: 0.75rem;
    }

    .navbar-brand img {
        height: 1.875rem;
    }
    .navbar-nav {
        text-align: right;
    }

    .login {
        font-size: 0.75rem;
    }
    .login-box {
        width: auto;
    }

    .btn-danger {
        width: 130px;
        height: 35px;
        line-height: 1;
    }
}